<!DOCTYPE html>
<html>

<head>
    <title>COVID Contact - {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon-16x16.png">
    <link rel="manifest" href="/resources/site.webmanifest">

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item{% if active == 'Home' %} active{% endif %}">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item{% if active == 'About' %} active{% endif %}">
                                    <a class="nav-link" href="/about">COVID-19 Information</a>
                                </li>
                                <li class="nav-item{% if active == 'Analysis' %} active{% endif %}">
                                    <a class="nav-link" href="/analysis?#">Symptom Analysis</a>
                                </li>
                                <li class="nav-item{% if active == 'Contact' %} active{% endif %}">
                                    <a class="nav-link" href="/contact">Contact Tracing</a>
                                </li>
                                <li class="nav-item{% if active == 'Location' %} active{% endif %}">
                                    <a class="nav-link" href="/location">Location Upload</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container content">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>