{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">COVID Contact</h1>
        <p class="lead text-muted">An application to help you evaluate your potential exposure to the COVID-19 virus.</p>
    </div>
</section>

<h1>About Us</h1>
<p>
    The COVID Contact application is designed to inform and evaluate your potential risk to the COVID-19 virus. 
    The website does so through five main features, which are displayed and explained below.
</p>
<hr>
<h3><a href="/about">COVID-19 Information</a></h3>
<p>
	This feature provides general information about the COVID-19 virus, and gives best practices and tips on what to do to avoid
	transmission of the coronavirus, and minimize the chance that you receive the coronavirus. Helpful videos and links to other
	sites regarding official statements on COVID-19 and best practices are also provided.
</p>
<hr>
<h3><a href="/analysis">Symptom Analysis</a></h3>
<p>
	The Symptom Analysis portion of the website is useful for those who would like to determine the likelihood that they currently have the coronavirus
	based on their current symptoms. Users are asked to respond to various questions regarding their health and symptoms, and will be given an analysis
	that states the likelihood that their symptoms are from COVID-19. This is not a subsitute for an actual medical test, but will be a good indicator 
	of whether you should receive a test or go to the hospital.
</p>
<hr>
<h3><a href="/analysis">Contact Tracing</a></h3>
<p>
	This part of the website allows a user to upload the locations that they have visited over the last couple of weeks to assess their exposure to known
	individuals who had COVID-19 and were in those areas. Based on the locations you have visited and the people who have visited those locations, users will
	be advised to take the Symptom Analysis test on the COVID contact website and will also be offered information about testing locations around them. This
	feature is not a subsitute for an actual medical test, but will be a good indicator of whether you should receive a test or go to the hospital.
</p>
<hr>
<h3><a href="/analysis">Location Upload</a></h3>
<p>
	Location Upload is for users who have or had COVID-19 and would like to inform people of their past whereabouts while they had the virus. They can list all the
	locations that they have been to while they were known to have the coronavirus, and then choose what locations they have been to with the virus. This will 
	update the database that the Contact Tracing feature references.
</p>
<hr>

{% endblock %}